h1{
    color:green;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 50px;
}
p{
    color:blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
}